<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Machine Learning Classification Project</title>
</head>

<body>
    <h1>Machine Learning Classification Project</h1>
    <form method="POST" action="/predict">
        <label for="age">Enter age:</label>
        <input type="number" name="age" id="age" required>
        <label for="gender">gender:</label>
        <select name="gender" id="gender" required>
            <option value='1'>Male</option>
            <option value='0'>Female</option>
        </select>
        <br>
        <button type="submit">Predict</button>
    </form>
</body>

</html>